
.search {
  width: 50%;
  position: relative;
  display: flexbox;
  height: 36px;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 90%;
  top: 50%;
  left: 50%;
  display: block;
  text-align: center;
}

