.container{
    position: inherit;
    width: 100vw;
    height: 100vh;
    margin-left: 10%;
    background-color: #d4d4d4;
    display: inline-block;
    color: black;
}
.active{
    top: 0;
    left: 0;
    background-color: rgb(0, 114, 143);
    color: #0497df;
    cursor: pointer;
    text-decoration:none;
}

.input {
    width: auto;
    flex:auto;
    margin-left:5%;
    margin-top:20px;
    float: left;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

.customers th {
    background-color: rgb(60, 172, 155);
}

.customers td, .customers th {
    border: 1px solid rgb(78, 78, 78);
    padding: 8px;
  }

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}